<!DOCTYPE html>
<html lang="en">


<head>
    <title>DataBias</title>
    <link rel="icon" type="image/x-ico" href="/static/favicon.ico">
    <link type="text/css" rel="stylesheet" href="/static/css/d3.css">
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <link type="text/css" rel="stylesheet" href="/static/css/loading-icon.css">
    <link type="text/css" rel="stylesheet" href="/static/css/info-panel.css">
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css">
    <link href="/static/css/nouislider.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/panel.css">
    <i data-fa-symbol="favorite" class="fas fa-star fa-fw"></i>
    <meta charset="UTF-8">
</head>


<body>

    {% block distribution %}{% endblock %}
    {% block info %}{% endblock %}

</body>


<script src="/static/js/lib/d3.min.js"></script>
<script src="/static/js/lib/request_dag.js"></script>
<script src="/static/js/lib/jquery-3.2.1.js"></script>
<script src="/static/js/lib/materialize.min.js"></script>
<script src="/static/js/lib/nouislider.js"></script>



<script src="/static/js/main.js"></script>
<script src="/static/js/globals.js"></script>
<script src="/static/js/DataLoader.js"></script>
<script src="/static/js/NavigationTree.js"></script>
<script src="/static/js/LensLayout.js"></script>
<script src="/static/js/distribution.js"></script>
<script src="/static/js/Boundary.js"></script>
<script src="/static/js/Entropy.js"></script>
<script src="/static/js/handler.js"></script>
<script src="/static/js/info.js"></script>
<script src="/static/js/DataContainer.js"></script>
<script src="/static/js/interactions.js"></script>
<script src="/static/js/panel.js"></script>

</html>