{% block control %}


<div class="self-column" id="self-column-1">
    <div class="block-container" id="block-1-1">
        {#header#}
{#        <div class="my-panel" @*style="display: none" *@>#}
{#            <div>#}
{#                <span class="my-panel-heading"> Control </span>#}
{#                <!--<span class="save-button header-button" onclick="saveSVG('worker-svg')">Save</span>-->#}
{#            </div>#}
{#            <hr class="my-panel-seg"/>#}
{#        </div>#}
{#        <h5>Control Panel</h5>#}

        {# navigation #}
        <div class="row" id="side-nav">
            <ul class="collapsible" id="cp-container" data-collapsible="expandable">
                <li>
                      <div class="collapsible-header">
{#                          <i class="mdi-navigation-chevron-right"></i>#}
                          <span class="second-font">Dataset</span>
                      </div>
                      <div class="collapsible-body" id="dataset">
                          <form action="#">

                              <label>
                                <input name="group-dataset" type="radio" id="REA"
                                       onclick="dataset_selection()" checked />
                                <span class="third-font">REA</span>
                              </label>
                              <label>
                                <input name="group-dataset" type="radio" id="Animals"
                                       onclick="dataset_selection()" />
                                <span class="third-font">Animals</span>
                              </label>

                          </form>
                      </div>
                </li>
                <div class="divider"></div>
                <li>
                      <div class="collapsible-header">
{#                          <i class="mdi-navigation-chevron-right"></i>#}
                          <span class="second-font">Model Information</span>
                      </div>
                      <div class="collapsible-body" id="model-info">
                          <div class="sub-body-text-container">
                              <span># training data:</span>
                              <span id="train-num"></span>
                          </div>
                          <div class="sub-body-text-container">
                              <span># test data:</span>
                              <span id="test-num"></span>
                          </div>
                          <div class="sub-body-text-container">
                              <span>Training acc:</span>
                              <span id="train-acc"></span>
                          </div>
                      </div>
                </li>
                <div class="divider"></div>

                <li>
                      <div class="collapsible-header">
{#                          <i class="mdi-navigation-chevron-right"></i>#}
                          <span class="second-font">Data</span>
                      </div>
                      <div class="collapsible-body" id="data">
                          <form action="#">
{#                            <p>#}
                              <label>
                                <input name="group1" type="radio" id="train"
                                       onclick="display_selection()" checked />
                                <span class="third-font">Training</span>
                              </label>
{#                            </p>#}
{#                            <p>#}
                              <label>
                                <input name="group1" type="radio" id="test"
                                       onclick="display_selection()" />
                                <span class="third-font">Test</span>
                              </label>
{#                            </p>#}
{#                            <p>#}
                              <label>
                                <input name="group1" type="radio" id="all"
                                       onclick="display_selection()" />
                                <span class="third-font">All</span>
                              </label>
{#                            </p>#}
                          </form>
                      </div>
                </li>
                <div class="divider"></div>

                <li>
                      <div class="collapsible-header">
{#                          <i class="mdi-navigation-chevron-right"></i>#}
                          <span class="second-font">Lens</span>
                      </div>
                      <div class="collapsible-body" id="Lens">
                          <form action="#">
                            <p>
                              <label>
                                <input name="group2" type="radio" id="grid-layout"
                                       onclick="lens_selection()" checked />
                                <span class="third-font">Grid layout</span>
                              </label>
                            </p>
                            <p>
                              <label>
                                <input name="group2" type="radio" id="scatter-plot"
                                       onclick="lens_selection()" />
                                <span class="third-font">Scatter plot</span>
                              </label>
                            </p>
                          </form>
                          <form action="#">
                            <p>
                              <label>
                                <input id="boundary-switch" type="checkbox" class="filled-in" checked
                                       onclick="switch_boundary()"/>
                                <span class="third-font">Decision boundary</span>
                              </label>
                            </p>
                            <p>
                              <label>
                                <input id="recommendation-switch" type="checkbox" class="filled-in" checked
                                       onclick="switch_recommendation()"/>
                                <span class="third-font">Images</span>
                              </label>
                            </p>
                          </form>
                      </div>
                </li>
                 <div class="divider"></div>

                <li>
                      <div class="collapsible-header">
{#                          <i class="mdi-navigation-chevron-right"></i>#}
                          <span class="second-font">Filter</span>
                      </div>
                      <div class="collapsible-body" id="Filter">
                          <div class="padding-bottom">
                              <form action="#">
{#                                <p>#}
                                  <label>
                                    <input class="with-gap" name="group3" type="radio" checked
                                    onclick="filter_selection()" id="entropy-filter"/>
                                    <span>Entropy</span>
                                  </label>
{#                                </p>#}
{#                                <p>#}
{#                                  <label>#}
{#                                    <input class="with-gap" name="group3" type="radio"#}
{#                                    onclick="filter_selection()" id="confidence-filter"/>#}
{#                                    <span>Confidence</span>#}
{#                                  </label>#}
{#                                </p>#}
{#                                <p>#}
                                  <label>
                                    <input class="with-gap" name="group3" type="radio"
                                    onclick="filter_selection()" id="none-filter"/>
                                    <span>None</span>
                                  </label>
{#                                </p>#}
                              </form>
                              <br/>
                              <br/>
                              <div id="entropy-slider"></div>
                              <div id="confidence-slider" style="display:none;"></div>
                          </div>
                      </div>
                </li>
                <div class="divider"></div>

            </ul>
        </div>
    </div>
</div>

{% endblock %}